.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    width: 100%;
}

.mainList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    /* height: 100%; */
    overflow: auto;
    overflow-y: scroll auto;
    
    border: solid 1px lightgray;
    border-radius: 10px;
    background-color: white;

    resize: horizontal;
}

.categoriesForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    min-height: 200px;
    padding: 15px;

    border: solid 1px lightgray;
    border-radius: 10px;
    background-color: white;

    color: purple;
}

.categItem {
    border: solid 1px palevioletred;
    border-radius: 10px;
    background: linear-gradient(white 75%, pink);
    color: purple;
    font-weight: bold;
    padding: 5px;
    width: 100%;
}

.categItem:nth-child(even) {
    background: linear-gradient(pink 75%, palevioletred);
}

.categItem:hover {
    background: linear-gradient(rgb(239, 159, 185) 75%, rgb(193, 62, 84));
    color: #fff;
}
    
.buttonsPanel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}