@keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
 .noSelection {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  
 } 